@model ChoixResto.ViewModels.AccueilViewModel

@{
    ViewBag.Title = "IndexVM";
}

<h2>Index avec ViewModel</h2>

<div>
    Utilisation d'un ViewModel
</div>
<ul>
    <li>@Model.Message</li>
    <li>@Model.Date.ToString("dd/MM/yyyy")</li>
    <li>@Model.Resto.Nom</li>
    <li>@Model.Resto.Telephone</li>
</ul>
<br />
<div>
    Exemple de formulaire
</div>
<input type="text" id="nom" value="@Model.Resto.Nom" />
<input type="text" id="telephone" value="@Model.Resto.Telephone" />
<input type="submit" value="Envoyer" />
<br />
<div>
    Les helpers HTML
</div>
<div>Je suis la vue index</div>
    @Html.TextBox("nom", Model.Resto.Nom)
    @Html.TextBox("telephone", Model.Resto.Telephone)
<input type="submit" value="Envoyer" />
<!--
    <input id="nom" name="nom" type="text" value="La bonne fourchette" />
    <input id="telephone" name="telephone" type="text" value="1234" />
-->
<br />
@Html.TextBox("nom", Model.Resto.Nom, new { style = "color:red" })
<!--
    <input id="nom" name="nom" style="color:red" type="text" value="La bonne fourchette" />
-->
<br />
@Html.TextBox("nom", Model.Resto.Nom, new { style = "color:red", @class = "ma-css" })
<!-- 
    <input class="macss" id="nom" name="nom" style="color:red" type="text" value="La bonne fourchette" />
-->
<br />
<div>Case à cocher</div>
    @Html.Label("estMajeur", "Cochez la case si vous êtes majeur")
    @Html.CheckBox("estMajeur", true)
<input type="submit" value="Envoyer" />
<!--
    <label for="estMajeur">Cochez la case si vous &#234;tes majeur</label>
    <input checked="checked" id="estMajeur" name="estMajeur" type="checkbox" value="true" /><input name="estMajeur" type="hidden" value="false" />
    <input type="submit" value="Envoyer" />
-->

